{% extends "design.html" %}

{% block title%} Dealers @RealEstate {% endblock %}

{% block body %}
<div class="container mt-3" style="width:50%;">
    <div class="row px-3 my-3">
        <div class="col-9">
            <form action="/viewDealerList" method="post" class="d-flex" role="search">
                <input class="form-control me-2" type="search" name="dname"
                       placeholder="Enter Dealer name..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <div onclick="window.location='/adminHome'" class="btn btn-outline-secondary">Back</div>
        </div>
    </div>
    <hr>
    {% if dealers %}
    <h3 class="my-3" align="center">RealEstate Dealers</h3>
    {% for i in dealers %}
    <div class="col-sm-12 my-4" onclick="window.location='/viewDealer/{{ i[1] }}'" id="login-box">
      <div class="p-3" style="cursor:pointer;">
          <div class="row">
              <div class="col-4">
                  <strong>Dealer Id : {{ i[0] }} </strong><br>
                  <small>Age : <span class="text text-secondary">{{ i[8]|int }}</span></small>
                  <br>
                  <small>Gender : <span class="text text-secondary">{{ i[5] }}</span></small>
              </div>
              <div class="col-5">
                  <strong>Name : <span class="text text-secondary">{{ i[2] }}</span></strong>
                  <br>
                  <small>Phone : <span class="text text-secondary">{{ i[4] }}</span></small>
                  <br>
                  <small>Email : <span class="text text-secondary">{{ i[3] }}</span></small>
              </div>
              <div class="col-3 mt-3">
                  <a class="btn btn-danger btn-sm" href="/removeDealer/{{ i[1] }}"  onclick="event.stopPropagation(); 
                       return confirm('Are you sure you want to remove this Dealer?');">Remove Dealer</a>
              </div>
          </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h4 class="text text-secondary my-3" align="center">No Dealers Found</h4>
    <h5 class="text my-3" align="center" onclick="window.location='/addDealer'"
        style="cursor:pointer;color:#F45B69">Add Dealer</h5>
    {% endif %}
    <hr>
</div>
{% endblock %}
