{% extends "design.html" %}

{% block title%}{{ merch[1] }} @RealEstate{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="main-body d-flex justify-content-center">
		<div class="col-md-5 my-3">
			<div class="card">
				<div class="card-body">
					<div class="d-flex flex-column align-items-center text-center">
						<div class="container" style="width:60%;">
							<img src="/static/images/merchant/{{merch[8]}}" class="d-block w-100" alt="..."
								 style="width:100%; height:auto;">
						</div>
						<div class="my-3">
							<h4>{{ merch[5] }}</h4>
							<h5 class="text-secondary">{{ merch[6] }}</h5>
						</div>
					</div>

					<div class="row px-3 my-3">
						<div class="col-sm-3">
							<h6>Merchant :</h6>
						</div>
						<div class="col-sm-1">
							<h6>:</h6>
						</div>
						<div class="col-sm-8 text-secondary">
							{{ merch[1] }}
						</div>
					</div>

					<div class="row px-3 my-3">
						<div class="col-sm-3">
							<h6>Age :</h6>
						</div>
						<div class="col-sm-1">
							<h6>:</h6>
						</div>
						<div class="col-sm-8 text-secondary">
							{{ merch[9]|int }}
						</div>
					</div>

					<div class="row px-3 my-3">
						<div class="col-sm-3">
							<h6>Address :</h6>
						</div>
						<div class="col-sm-1">
							<h6>:</h6>
						</div>
						<div class="col-sm-8 text-secondary">
							<div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; width: 100%;">
							{{ merch[7] }}
							</div>
						</div>
					</div>

					<div class="row px-3 my-3">
						<div class="col-sm-3">
							<h6>Phone :</h6>
						</div>
						<div class="col-sm-1">
							<h6>:</h6>
						</div>
						<div class="col-sm-8 text-secondary">
						  {{ merch[4] }}
						</div>
				 	</div>

					<div class="row px-3 my-3">
						<div class="col-sm-3">
							<h6>Email :</h6>
						</div>
						<div class="col-sm-1">
							<h6>:</h6>
						</div>
						<div class="col-sm-8 te xt-secondary">
						  <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ merch[3] }}.com" target="_blank"
						 title="Open in Gmail" style="text-decoration:none;color:black;">{{ merch[3] }}</a>
						</div>
				 	</div>

					<hr class="px-3 my-3">

					<div class="row px-3 my-3">
						<div class="col-sm-4 d-flex justify-content-end">
							<a href="/viewMerchants" class="btn btn-outline-secondary">Back</a>
						</div>
						<div class="col-sm-4 d-flex justify-content-center">
							<a href="/editMerchant/{{ merch[0] }}" class="btn btn-outline-secondary">Edit</a>
						</div>
						<div class="col-sm-4">
							<a href="/deleteMerchant/{{ merch[0] }}" class="btn btn-outline-danger"
							   onclick="return confirm('Remove this Merchant?');">Delete</a>
						</div>
					</div>
			 	</div>
		  	</div>
		</div>
	</div>
</div>


{% endblock %}
