{% extends "design.html" %}
{% block title%}Edit Dealer{% endblock %}
{% block body %}

<div class="container py-4 h-100">
	<div class="row justify-content-center align-items-center h-100">
		<div class="col-12 col-xl-6 m-3" id="login-box">
            <div class="d-flex justify-content-center">
			  <h3 class="mb-4 pb-2 mt-3" style="color:#F45B69;cursor:default;">Edit Dealer Details</h3>
			</div>

            <form action="/editDealer/{{ dealer[1] }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="dealer" value="{{ dealer[0] }}">
                <div class="row  mb-4 px-3">
                  <div class="col-md-5">
                    <h6 class="mb-0">Name</h6>
                  </div>
                  <div class="col-md-7 ">
                     <input type="text" name="dealerName" class="inputs form-control" value="{{ dealer[2] }}"/>
                  </div>
                </div>

                <div class="row mb-4 px-3">
                  <div class="col-md-5">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-md-7">
                    <input type="text" name="dealerEmail" class="inputs form-control" value="{{ dealer[3] }}"/>
                  </div>
                </div>

                <div class="row mb-4 px-3">
                  <div class="col-md-5">
                    <h6 class="mb-0">Phone</h6>
                  </div>
                  <div class="col-md-7">
                    <input type="text" name="dealerPhone" class="inputs form-control" value="{{ dealer[4] }}"/>
                  </div>
                </div>

                <div class="row mb-4 px-3">
                  <div class="col-md-5">
                    <h6 class="mb-0">Gender</h6>
                  </div>
                  <div class="col-md-7">
                      <div class="form-check form-check-inline">
                        <input class="inputs form-check-input" type="radio" name="gender" id="femaleGender" value="female"
                                {% if dealer[5]=='female' %} checked {% endif %}/>
                        <label for="femaleGender">Female</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="inputs form-check-input" type="radio" name="gender" id="maleGender" value="male"
                                {% if dealer[5]=='male' %} checked {% endif %}/>
                        <label class="form-check-label" for="maleGender">Male</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="inputs form-check-input" type="radio" name="gender" id="otherGender" value="other"
                                {% if dealer[5]=='other' %} checked {% endif %}/>
                        <label class="form-check-label" for="otherGender">Other</label>
                      </div>
                  </div>
                </div>

                <div class="row mb-4 px-3">
                  <div class="col-md-5">
                    <h6 class="mb-0">Dob</h6>
                  </div>
                  <div class="col-md-7">
                    <div class="form-outline">
                        <input type="date" name="dealerDob" class="inputs form-control" value="{{ dealer[6] }}">
                    </div>
                  </div>
                </div>

                <div class="row mb-4 px-3">
                    <div class="col-md-6 d-flex justify-content-end">
                        <div onclick="goBack()" class="btn btn-outline-secondary">Back</div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-start">
                        <button type="submit" id="login-btn" class="btn btn-outline-danger">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}