{% extends "design.html" %}

{% block title%}Edit Engineer{% endblock %}

{% block body %}

<div class="container py-4 h-100">
	<div class="row justify-content-center align-items-center h-100">
		<div class="col-12 col-xl-6 m-3" id="login-box">
            <div class="d-flex justify-content-center">
			  <h3 class="mb-4 pb-2 mt-4" style="color:#F45B69;cursor:default;">Edit Engineer Details</h3>
			</div>

            <form action="/editEngineer/{{ eng[0] }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="eng" value="{{ eng[0] }}">
                <div class="row my-3 px-3">
					<div class="col-md-2">
						<h6 class="mt-1">Name :</h6>
					</div>
					<div class="col-md-10">
						<input type="text" name="ename" id="ename" class="inputs form-control" value="{{ eng[1] }}" required/>
					</div>
                </div>

				<div class="row my-4 px-3">
					<div class="col-md-6">
						<h6>Gender :</h6>
						<div class="mt-3 d-flex justify-content-center">
							<div class="form-check form-check-inline">
								<input class="inputs form-check-input" type="radio" name="gender" id="femaleGender"
									   value="female" {% if eng[6]=='female' %} checked {% endif %}/>
								<label for="femaleGender">Female</label>
							</div>

							<div class="form-check form-check-inline">
								<input class="inputs form-check-input" type="radio" name="gender" id="maleGender"
									   value="male" {% if eng[6]=='male' %} checked {% endif %}/>
								<label class="form-check-label" for="maleGender">Male</label>
							</div>

							<div class="form-check form-check-inline">
								<input class="inputs form-check-input" type="radio" name="gender" id="otherGender"
									   value="other" {% if eng[6]=='other' %} checked {% endif %}/>
								<label class="form-check-label" for="otherGender">Other</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<h6>DOB :</h6>
						<input type="date" name="dob" id="dob" class="form-control inputs"  value="{{ eng[7] }}" required/>
					</div>
				</div>

				<div class="row my-4 px-3">
                    <div class="col-md-6">
                        <h6>Phone : </h6>
						<input type="text" id="phone" name="phone" class="form-control form-control-md" value="{{ eng[5] }}" required/>
                    </div>
                    <div class="col-md-6">
                        <h6>Email :</h6>
                        <input type="text" id="email" name="email" class="form-control inputs" value="{{ eng[4] }}" required/>
                    </div>
                </div>

                <div class="row my-4 px-3">
                  <div class="col-md-6">
                      <h6>Discipline :</h6>
                      <div class="form-outline">
						  <select class="form-control inputs" id="disc" name="disc" required>
								<option value="{{ eng[3] }}">Select Discipline</option>
								<option value="civil engineer">Civil Engineering</option>
								<option value="mechanical engineer">Mechanical Engineering</option>
								<option value="electrical engineer">Electrical Engineering</option>
								<option value="chemical engineer">Chemical Engineering</option>
						  </select>
					  </div>
                  </div>
                  <div class="col-6">
                      <h6>Experience :</h6>
                      <div class="form-outline">
                          <input type="number" id="exp" name="exp" class="form-control inputs" min="0" value="{{ eng[2] }}" required/>
                      </div>
                  </div>
                </div>

                <div class="row my-4 px-3">
                    <div class="col-md-12">
                        <h6>Current Address : </h6>
						<input type="text" id="address" name="address" class="form-control form-control-md" value="{{ eng[8] }}" required/>
                    </div>
                </div>

				<div class="row px-3 my-4">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <a class="btn btn-outline-secondary btn-sm" href="#"
                            data-bs-toggle="modal" data-bs-target="#locationModal">Change Location</a>
                        <input type="hidden" name="lat" id="lat">
                        <input type="hidden" name="lon" id="lon">
					</div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <input type="file" id="file" name="file" class="form-control">
                    </div>
				</div>

                <div class="row mb-5 px-3" id="usr_cntrols">
                    <div class="col-md-6 d-flex justify-content-end">
                        <div onclick="goBack()" class="btn user-back">Back</div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-start">
                        <button type="submit" class="btn user-btns">Submit Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- ------------------------LOCATION MODAL-------------------- -->

    <div class="modal fade" id="locationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="locationTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="locationTitle">Select Location</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div  id="googleMap" align="center" style="width:100%;height:350px;">

            </div>
              <hr>
            <form method="post" enctype="multipart/form-data" name="form1" id="form1" action="/action_location">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-outline">
                            <small>Latitude :</small>
                            <input type="text" name="lat" id="lat1" class="form-control" placeholder="Latitude">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-outline">
                          <small>Longitude :</small>
                          <input type="text" name="lon" id="lon1" class="form-control form-control-md" placeholder="Longitude"/>
                      </div>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <a class="btn btn-secondary" href="#photoUpload" data-bs-toggle="modal" data-bs-dismiss="modal">Select</a>
          </div>
        </div>
      </div>
    </div>

<script>
    function myMap() {
        var mapProp= {
            center:new google.maps.LatLng(12.508742,75.120850),
            zoom:5,
        };
        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

        google.maps.event.addListener(map, 'click', function(event) {
            //alert(event.latLng.lat() + ", " + event.latLng.lng());
            document.getElementById("lat").value=event.latLng.lat();
            document.getElementById("lon").value=event.latLng.lng();
            document.getElementById("lat1").value=event.latLng.lat();
            document.getElementById("lon1").value=event.latLng.lng();
        });
    }
</script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJKQEiMYJvUzXzKeaGIK0754YOuTad_bQ&callback=myMap">
</script>


{% endblock %}
