{% extends "design.html" %}
{% block title%}Administrator@RealEstate{% endblock %}
{% block body %}


<div class="container mt-5" align="center" id="admin-hme">
  <p><a href="/viewDealerList" class="admin-btns btn btn-lg" title="View Dealers">RealEstate Dealers</a></p>
  <br>
  <p><a href="/viewPlotList" class="admin-btns btn btn-lg"  title="View Plots">Plots</a></p>
  <br>
  <p><a href="/viewRentalList" class="admin-btns btn btn-lg"  title="View Rentals">Rentals</a></p>
  <br>
  <p><a href="/viewEngineers" class="admin-btns btn btn-lg"  title="View Engineers">Engineers</a></p>
  <br>
  <p><a href="/viewMerchants" class="admin-btns btn btn-lg"  title="View Merchants">Merchants</a></p>
  <br>
</div>

    
    
{% endblock %}