{% extends "design.html" %}

{% block title%} Dealers @RealEstate {% endblock %}

{% block body %}
<div class="container mt-3" style="width:50%;">
{% for i in dealers %}
    <div class="col-sm-12" onclick="window.location='/viewDealer/{{ i[1] }}'" id="login-box">
      <div class="p-3" style="cursor:pointer;">
          <div class="row">
              <div class="col-4">
                  <strong>Dealer Id : {{ i[0] }} </strong><br>
                  <small>Age : <span class="text text-secondary">{{ i[8]|int }}</span></small>
                  <br>
                  <small>Gender : <span class="text text-secondary">{{ i[5] }}</span></small>
              </div>
              <div class="col-5">
                  <strong>Name : <span class="text text-secondary">{{ i[2] }}</span></strong>
                  <br>
                  <small>Phone : <span class="text text-secondary">{{ i[4] }}</span></small>
                  <br>
                  <small>Email : <span class="text text-secondary">{{ i[3] }}</span></small>
              </div>
              <div class="col-3 mt-3">
                  <a class="btn btn-danger btn-sm" href="/removeDealer/{{ i[1] }}">Remove Dealer</a>
              </div>
          </div>
      </div>
    </div>
    <hr>
{% endfor %}
</div>
{% endblock %}
