<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  Design {% endblock %}</title>

    <link rel="stylesheet" href="../static/css/style.css">


 <!-- Import bootstrap cdn -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>






</head>
<body>
    <header>
      {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#456990;">
          <div class="container-fluid">
            <a class="navbar-brand  nav1" href="/adminHome" style="color:#e4fde1;">RealEstate</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Add
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/addDealer">Dealer</a></li>
                    <li><a class="dropdown-item" href="/addPlot">Plot</a></li>
                    <li><a class="dropdown-item" href="/addRental">Rental</a></li>
                    <li><a class="dropdown-item" href="/addEngineer">Engineer</a></li>
                    <li><a class="dropdown-item" href="/addMerchant">Merchant</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">Log-Out</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      {% endblock %}
    </header>
    
    {% block body %}
    {% endblock %}
    <script>
      function goBack() {
          window.history.back();
      }

    const fileInput = document.getElementById("fileInput");
    const selectedFileName = document.getElementById("selectedFileName");

    fileInput.addEventListener("change", function () {
        if (fileInput.files.length > 0) {
            selectedFileName.textContent = fileInput.files[0].name;
        } else {
            selectedFileName.textContent = "No file selected";
        }
    });
    </script>

 <!-- Import jquery cdn -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/bdfd3b3bb6.js" crossorigin="anonymous"></script>
</body>
</html>
