<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="static\css\style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"/>

</head>

<body>
     <div class="vh-100 d-flex justify-content-center align-items-center">
            <div class="col-md-5 p-5" id="login-box">
                <h2 class="text-center mb-4" style="color:#F45B69;cursor:default;"><i class="fa fa-user">&nbsp;</i>Dealer</h2>
                <form action="/register" method="post" enctype="multipart/form-data">
                     <input type="hidden" name="lati" id="lati" value="0"/>
                     <input type="hidden" name="longi" id="longi" value="0"/>
                    <div class="mb-3">
                        <input type="text" name="dealerName" id="dealerName" class="inputs form-control" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="dealerEmail" id="dealerEmail" class="inputs form-control" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="dealerPhone" id="dealerPhone" class="inputs form-control" placeholder="Phone Number">
                    </div>
                    <div class="row mb-2">
                         <div class="col-md-3 my-2">
                              <h5 class="text-secondary ms-3">Gender: </h5>
                         </div>
                         <div class="col-md-7 my-2">
                             <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="radio" name="gender" id="female" value="female"/>
                                 <label class="form-check-label" for="female">Female</label>
                             </div>

                             <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="male" />
                                <label class="form-check-label" for="male">Male</label>
                             </div>

                             <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="radio" name="gender" id="other" value="other" />
                                 <label class="form-check-label" for="other">Other</label>
                             </div>
                         </div>
                    </div>
                    <div class="mb-3">
                       <input type="date" name="dealerDob" id="dealerDob"  class="inputs form-control">
                    </div>
                    <div class="mb-4">
                        <input type="text" name="dealerPassword" id="dealerPassword" class="inputs form-control" placeholder="password">
                    </div>

                    <div class="form-group mb-3 d-flex justify-content-center">
                        <button id="login-btn" type="submit" class="btn btn-primary btn-block" onclick="return valid()">Sign-Up</button>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <a id="login-link" href="/">Already Registered?</a>
                    </div>
                </form>
            </div>
     </div>

     <script type="text/javascript">
        function valid()
        {
            if(document.getElementById("dealerName").value=="")
            {
                alert("Please Enter Your Name!");
                document.getElementById("dealerName").focus();
                return false;
             }
        
            if(document.getElementById("dealerEmail").value=="")
            {
                alert("Please FEnter Your Email!");
                document.getElementById("dealerEmail").focus();
                return false;
             }
            if(document.getElementById("dealerPhone").value=="")
               {
                 alert("Please Enter Your Phone Number");
                 document.getElementById("dealerPhone").focus();
                 return false;
             }
            if(document.getElementById("dealerDob").value=="")
            {
                alert("Please Enter Date of Birth");
                document.getElementById("dealerDob").focus();
                return false;
             }
             if(document.getElementById("dealerPassword").value=="")
            {
                alert("Please Enter Your Password!");
                document.getElementById("dealerPassword").focus();
                return false;
             }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
