{% extends "design-user.html" %}

{% block title%} buyer @RealTor {% endblock %}

{% block body %}
<div class="container">
	<div class="main-body mt-2">
          <div class="row gutters-sm">
            <div class="col-md-5 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <div class="mt-3">
                      <h4>{{ buyer[2] }}</h4>
                      <p class="text-secondary mb-1"> </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mt-3">
                <div class="card-body">
                  <div class="row">
					<div class="col-sm-4">
					  <h6 class="mb-0">Age</h6>
					</div>
					<div class="col-sm-8 text-secondary">
                      {{ buyer[8]|int }}
					</div>
                  </div>
                  <hr class="mx-n3">
                  <div class="row">
					<div class="col-sm-4">
					  <h6 class="mb-0">Gender</h6>
					</div>
					<div class="col-sm-8 text-secondary">{{ buyer[5] }}</div>
                  </div>
                   <hr class="mx-n3">
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">{{ buyer[4] }}</div>
                  </div>
                  <hr class="mx-n3">
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Email</h6>
                    </div>
					<div class="col-sm-8 text-secondary">
						<a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ buyer[3] }}.com" target="_blank"
						   title="Open in Gmail" style="text-decoration:none;color:black;">{{ buyer[3] }}</a>
					</div>
                  </div>
				  <hr>
				  <div class="row ">
					<div class="col-sm-7 d-flex justify-content-end">
						{% if loc=='plot' %}
						<a href="/userPlot/{{ pid }}" class="btn btn-outline-secondary">Back</a>
						{% endif %}
						{% if loc=='rental' %}
						<a href="/userRental/{{ pid }}" class="btn btn-outline-secondary">Back</a>
						{% endif %}
                    </div>
				  </div>

                </div>
              </div>
            </div>


            <div class="col-md-7">
				<div class="row gutters-sm">
					<div class="col-sm-12 mb-3">
						<div class="card h-100">
							<div class="card-body">
								{% if plots %}
								<h4 class="d-flex justify-content-center">Plots by {{buyer[2]}}</h4>
								<hr>
								{% for i in plots %}
								<div class="clickable" onclick="window.location='/user_viewPlot/{{ i[0] }}/{{ temp }}'"
									 title="View Plot">
									<div class="row">
										<div class="col-1">
											<b>{{ loop.index }}</b>
										</div>
										<div class="col-11">
											<div class="row">
												<div class="col-3">
													<h6>Plot Name :</h6>
												</div>
												<div class="col-4 d-flex justify-content-start">
													<small> {{ i[2] }}</small>
												</div>
											</div>
											<div class="row">
												<div class="col-3">
													<h6>Location :</h6>
												</div>
												<div class="col-3 d-flex justify-content-start">
													<span class="d-block text-black-50 ms-1"
														  style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; max-width: 200px; cursor: pointer;">
														<a href="https://www.google.com/maps/search/?api=1&query={{ i[14] }}%2C{{ i[15] }}"
														   title="Open Maps" target="_blank" style="text-decoration: none;color: #575f5a;"><small>{{ i[3] }}</small></a>
													</span>
												</div>
												<div class="col-3">
													<h6>Type :</h6>
												</div>
												<div class="col-3 d-flex justify-content-start">
													<small>{{ i[5] }}</small>
												</div>
											</div>
											<div class="row">
												<div class="col-3">
													<h6>Area :</h6>
												</div>
												<div class="col-3 d-flex justify-content-start">
													<small>{{ i[4] }}</small>
												</div>
												<div class="col-3">
													<h6>Price :</h6>
												</div>
												<div class="col-3 d-flex justify-content-start">
													<small>{{ i[6] }}</small>
												</div>
											</div>
										</div>
									</div>
								</div>
								<hr>
								{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>

                	<div class="col-sm-12 mb-3">
						<div class="card h-100">
							<div class="card-body">
								{% if rentals %}
								<h4 class="d-flex justify-content-center">Rentals by {{buyer[2]}}</h4>
								{% for i in rentals %}
								<div class="clickable" onclick="window.location='/user_viewRental/{{i[0]}}/buy'"
									 title="View Buyer Profile">
									<div class="row">
										<div class="col-1 pe-0">
											<b>{{ loop.index }}</b>
										</div>
										<div class="col-11 p-0">
											<div class="row">
												<div class="col-3 px-0">
													<h6>Rental Name :</h6>
												</div>
												<div class="col-3 ps-0 d-flex justify-content-start">
													<small> {{ i[2] }}</small>
												</div>
												<div class="col-3 pe-0">
													<h6>Area :</h6>
												</div>
												<div class="col-3 px-0 d-flex justify-content-start">
													<small>{{ i[4] }} Sqrft</small>
												</div>
											</div>
											<div class="row">
												<div class="col-2 px-0">
													<h6>storey/Rooms :</h6>
												</div>
												<div class="col-4 d-flex justify-content-start">
													<small>{{ i[6] }}</small>
												</div>
												<div class="col-3 pe-0">
													<h6>Rent :</h6>
												</div>
												<div class="col-3 px-0 d-flex justify-content-start">
													<small>Rs. {{ i[5] }}</small>
												</div>
											</div>
											<div class="row">
												<div class="col-2 px-0">
													<h6>Location :</h6>
												</div>
												<div class="col-4 ps-0 d-flex justify-content-start">
													<span class="d-block text-black-50 ms-1"
														  style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; max-width: 200px; cursor: pointer;">
														<a href="https://www.google.com/maps/search/?api=1&query={{ i[14] }}%2C{{ i[15] }}"
														   title="Open Maps" target="_blank" style="text-decoration: none;color: #575f5a;"><small>{{ i[3] }}</small></a>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>
               </div>
            </div>

          </div>
    </div>
</div>
{% endblock %}
