{% extends "design-user.html" %}

{% block title%} Engineers @Realtor {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="main-body d-flex justify-content-center">
		<div class="col-md-6 my-3">
		  <div class="card mt-3">
			 <div class="card-body">
                 <div class="col justify-content-center">
                     <button class="btn btn-secondary" onclick="window.location='/userSearchEng'">Back</button>
                 </div>
                 {% if res %}
              <div class="table-responsive">
                  <table class="table" align="center">
                    <thead>
                      <tr>
                          <th></th>
                        <th scope="col">Details</th>
                        <th scope="col">Discipline</th>
                        <th scope="col">Experience</th>
                        <th scope="col">Locality</th>
                        <th scope="col" >Contact</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for i in res %}
                      <tr  class="clickable" onclick="window.location='#'">
                          <td valign="center">{{ loop.index }}</td>
                        <td>{{ i[1] }} <br>
                          {{ i[6] }} - {{ i[10]|int }}
                        </td>
                        <td>{{ i[3] }}</td>
                        <td>{{ i[2] }} Years</td>
                          <td><span class="loc d-block text" title="{{ i[8] }}">{{ i[8] }}</span></td>
                        <td>Email : {{ i[4] }}
                        <br>Phone : {{ i[5] }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                 {% else %}
                 <div class="col justify-content-center">
                     <h3 align="center">No Result</h3>
                 </div>
                 {% endif %}
             </div>
          </div>
        </div>
    </div>
</div>


{% endblock %}
