{% extends "design-user.html" %}
{% block title%}Dealer Page{% endblock %}


{% block body %}
<div class="container">
    <div class="main-body d-flex justify-content-center">
        <div class="col-md-5 my-3">
             <div class="row my-5 d-flex justify-content-center">
               <div class="col-md-12 p-3 user-box" onclick="window.location='/plotSearch'">
                   <div class="card-body d-flex justify-content-center">
                      <p class="nav-link pt-2">Looking for Properties or Rentals</p>
                    </div>
               </div>
            </div>
            <div class="row my-5 d-flex justify-content-center">
               <div class="col-md-12 p-3 user-box" onclick="window.location='/userAddPlot'" title="Post Your Plots on Realtor">
                   <div class="card-body d-flex justify-content-center">
                      <p class="nav-link pt-2">Want to sell your Property?</p>
                    </div>
               </div>
            </div>
            <div class="row my-5 d-flex justify-content-center">
               <div class="col-md-12 p-3 user-box" onclick="window.location='/userAddRental'">
                   <div class="card-body d-flex justify-content-center">
                      <p class="nav-link pt-2">Add Your Rentals Here</p>
                    </div>
               </div>
            </div>
            <div class="row my-5 d-flex justify-content-center">
               <div class="col-md-12 p-3 user-box" onclick="window.location='/userSearchEng'">
                   <div class="card-body d-flex justify-content-center">
                      <p class="nav-link pt-2">Find Engineers/Merchants For Your Property.</p>
                    </div>
               </div>
            </div>
            <div class="row my-5 d-flex justify-content-center">
               <div class="col-md-12 p-3 user-box" onclick="window.location='/userViewLeasedList'">
                   <div class="card-body d-flex justify-content-center">
                      <p class="nav-link pt-2">Leased Properties</p>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}