{% extends "design-user.html" %}
{% block title%} Add Rental {% endblock %}
{% block body %}


	<div class="container py-4 h-100">
		<div class="row justify-content-center align-items-center h-100">
		  <div class="col-12 col-lg-9 col-xl-7" id="login-box">
				<div class="d-flex justify-content-center">
				  <h3 class="mb-4 pb-2 mt-3">Add Rental</h3>
				</div>

				<form action="/userAddRental" method="post" enctype="multipart/form-data">

				  <div class="row mb-4 px-3">
					<div class="col-md-12">
					  <div class="form-outline">
						<input type="text" id="rname" name="rname" class="form-control inputs" placeholder="Enter Rental Name"/>
					  </div>
					</div>
				  </div>


				  <div class="row mb-4 px-3">
					<div class="col-md-6">
					  <div class="form-outline">
						<input type="text" id="area" name="area" class="form-control inputs" placeholder="Rental Area (in sqrft)"/>
					  </div>
					</div>
					<div class="col-md-6">
						  <div class="form-group">
                              <select class="form-control inputs" name="storey" id="storey">
                                  <option value="None">Rental Storey/Rooms</option>
                                  <option value="Single Storey Single Room">Single Storey Single Room</option>
                                  <option value="Single Storey Multi Rooms">Single Storey Multi Rooms</option>
                                  <option value="Multi Storey Single Rooms">Multi Storey Single Rooms</option>
                                  <option value="Multi Storey Multi Rooms">Multi Storey Multi Rooms</option>
                              </select>
                          </div>
					  </div>
				  </div>

				  <div class="row mb-4 px-3">
					  <div class="col-md-6 d-flex justify-content-center">
						  <a class="btn btn-outline-secondary btn-sm" href="#"
							 data-bs-toggle="modal" data-bs-target="#locationModal">Select Plot Location</a>
					  </div>
					  <div class="col-md-6">
						  <div class="form-outline">
							  <input type="text" name="rent" class="form-control inputs" placeholder="Enter Rent (in Rupees)">
						  </div>
					  </div>
				  </div>
				  <div class="row mb-4 px-3">
					  <div class="col-md-3">
						  <div class="form-outline">
							  <input type="text" name="lat" id="lat" class="form-control inputs" placeholder="Latitude">
						  </div>
					  </div>
					  <div class="col-md-3">
						  <div class="form-outline">
							  <input type="text" name="lon" id="lon" class="form-control inputs" placeholder="Longitude"/>
						  </div>
					  </div>
					  <div class="col-md-6">
						  <div class="form-outline">
							  <input type="file" name="files" class="form-control inputs" multiple>
						  </div>
					  </div>
				  </div>



				  <div class="row mb-4 px-3">
					  <div class="col-md-6 d-flex justify-content-center">
						<div class="d-flex justify-content-center">
							<div onclick="goBack()" class="btn btn-outline-secondary">Cancel</div>
						</div>
					  </div>	
					  <div class="col-md-6 d-flex justify-content-center">
						 <div class="d-flex justify-content-center">
							<input class="btn" id="login-btn" type="submit" value="Submit" onclick="return valid()"/>
						 </div>
					  </div>
				  </div>
				</form>
		  </div>
		</div>
	</div>


<script type="text/javascript">
	function valid()
	{
		if(document.getElementById("rname").value=="")
		{
			alert("Please Enter Rental Name!");
			document.getElementById("rname").focus();
			return false;
		 }
	
		if(document.getElementById("area").value=="")
		{
			alert("Please Fill The Area Column!");
			document.getElementById("area").focus();
			return false;
		 }
		if(document.getElementById("rent").value=="")
		   {
			 alert("Enter Phone Number");
			 document.getElementById("rent").focus();
			 return false;
		 }
		if(/[^0-9]/gi.test(document.getElementById("rent").value))
		{
			alert("Please enter amount in digits only");
			document.getElementById("rent").focus();
			return false;
		}
		if(document.getElementById("lon").value=="")
		{
			alert("Location not Selected");
			document.getElementById("lon").focus();
			return false;
		 }
	}
</script>

<!-- ------------------------LOCATION MODAL-------------------- -->

    <div class="modal fade" id="locationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="locationTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="locationTitle">Select Location</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div  id="googleMap" align="center" style="width:100%;height:350px;">

            </div>
              <hr>
            <form method="post" enctype="multipart/form-data" name="form1" id="form1" action="/action_location">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-outline">
                            <small>Latitude :</small>
                            <input type="text" name="lat" id="lat1" class="form-control" placeholder="Latitude">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-outline">
                          <small>Longitude :</small>
                          <input type="text" name="lon" id="lon1" class="form-control form-control-md" placeholder="Longitude"/>
                      </div>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <a class="btn btn-secondary" href="#photoUpload" data-bs-toggle="modal" data-bs-dismiss="modal">Select</a>
          </div>
        </div>
      </div>
    </div>

<script>
    function myMap() {
        var mapProp= {
            center:new google.maps.LatLng(12.508742,75.120850),
            zoom:5,
        };
        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

        google.maps.event.addListener(map, 'click', function(event) {
            //alert(event.latLng.lat() + ", " + event.latLng.lng());
            document.getElementById("lat").value=event.latLng.lat();
            document.getElementById("lon").value=event.latLng.lng();
            document.getElementById("lat1").value=event.latLng.lat();
            document.getElementById("lon1").value=event.latLng.lng();
        });
    }
</script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJKQEiMYJvUzXzKeaGIK0754YOuTad_bQ&callback=myMap">
</script>

{% endblock %}
