{% extends "design-user.html" %}
{% block title%} Find a plot @RealTor {% endblock %}

{% block body %}
<div class="container py-4 h-100">
	<div class="row justify-content-center align-items-center h-100" id="usr_cntrols">
		<div class="col-12 col-lg-9 col-xl-7 p-3 outer-container">
            <div class="tabs-container">
				<button class="tab active" onclick="openTab(event, 'tab1')">Properties</button>
                <button class="tab" onclick="openTab(event, 'tab2')">Rentals</button>
            </div>

			<div class="tab-content" id="tab1-content">			
                <form action="/plotSearch" method="post" role="search" onsubmit="return validatePlotSearchForm(event)">
					<button type="submit" name="sub" value="all" class="my-3" style="color: #456990; background: none; border: none; padding: 0; font-size: inherit; cursor: pointer;">
						<h4>All Properties</h4>
					</button>

					<div class="row d-flex justify-content-center">
						<div class="col-md-6 d-flex justify-content-center">
							<h4 class="mb-2 pb-md-0">Or</h4>
						</div>
					</div>
					
					<div class="row d-flex justify-content-center">
						<div class="col-md-2 mb-1">
							<div class="form-outline"></div>
						</div>
						<div class="col-md-6 mb-1">
							<div class="form-outline">
								<input class="form-control me-2" type="search" name="pname" id="pname"
									   placeholder="Enter Property Name or Place" aria-label="Search">
							</div>
						</div>
						<div class="col-md-4 d-flex justify-content-start mb-2">
							<div class="form-outline">
								<button class="btn user-btns ms-2" type="submit" name="sub" value="srch">Search</button>
							</div>
						</div>
					</div>

					<div class="row d-flex justify-content-center">
						<text class="h4 m-0 align-items-center">Or</text>
					</div>
					<div class="row d-flex justify-content-center align-items-start mb-2">
						<span class="text-secondary small">Select at least one.</span>
					</div>


					<div class="row d-flex justify-content-center">
						<div class="col-md-2 mb-1">
							<div class="form-outline"></div>
						</div>
						<div class="col-md-6 mb-4 pb-2">
							<div class="form-outline">
								<select class="form-control form-control-md" name="type" id="type">
									<option value="any">Select Property Type</option>
									<option value="land">Land</option>
									<option value="building">Building</option>
									<option value="home">Home</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 d-flex justify-content-start mb-2">
							<div class="form-outline">
							</div>
						</div>
					</div>

					<div class="row d-flex justify-content-center">
						<div class="col-md-2 mb-1">
							<div class="form-outline"></div>
						</div>
						<div class="col-md-6 mb-4 pb-2">
							<div class="form-outline">
								<select class="form-control form-control-md" name="price" id="price">
									<option value="0 AND 999999999">Select price range (in rupees)</option>
									<option value="0 AND 100000">~1 lakh</option>
									<option value="100000 AND 200000">1 lakh &emsp; - &emsp;2 lakhs</option>
									<option value="200000 AND 500000">2 lakhs &emsp; - &emsp;5 lakhs</option>
									<option value="500000 AND 700000">5 lakhs &emsp; - &emsp;7 lakhs</option>
									<option value="700000 AND 200000">7 lakhs &emsp; - &emsp;15 lakhs</option>
									<option value="1500000 AND 2500000">15 lakhs&emsp;- &emsp;25 lakhs</option>
									<option value="2500000 AND 3500000">25 lakhs&emsp;- &emsp;35 lakhs</option>
									<option value="3500000 AND 5000000">35 lakhs&emsp;- &emsp;50 lakhs</option>
									<option value="5000000 AND 7500000">50 lakhs&emsp;- &emsp;75 lakhs</option>
									<option value="7500000 AND 10000000">75 lakhs&emsp;- &emsp; 1 crore</option>
									<option value="10000000 AND 30000000">1 crore &emsp;- &emsp;3 crores</option>
									<option value="30000000 AND 70000000">3 crores &emsp;- &emsp;7 crores</option>
									<option value="70000000 AND 100000000">7 crores &emsp;- &emsp;10 crores</option>
									<option value="100000000 AND 150000000">10 crores&emsp;- &emsp;15 crores</option>
									<option value="150000000 AND 9999999999"> 15 crores</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 d-flex justify-content-start mb-2">
							<div class="form-outline">
								<button class="btn user-btns ms-2" type="submit" name="sub" value="srch2">Search</button>
							</div>
						</div>
					</div>

					<div class="row d-flex justify-content-center">
						<div class="col-md-2 mb-1">
							<div class="form-outline"></div>
						</div>
						<div class="col-md-6 mb-3 pb-2">
							<div class="form-outline">
								<select class="form-control form-control-md" name="area" id="parea">
									<option value="0 AND 999999999">Select Area (in sqrft)</option>
									<option value="0 AND 3000">< 3000</option>
									<option value="3000 AND 5000">3000 - 5000</option>
									<option value="5000 AND 10000">5000 - 10,000</option>
									<option value="10000 AND 15000">10,000 - 15,000</option>
									<option value="15000 AND 25000">15,000 - 25,000</option>
									<option value="25000 AND 35000">25,000 - 35,000</option>
									<option value="35000 AND 50000">35,000 - 50,000</option>
									<option value="50000 AND 99999">> 50,000</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 d-flex justify-content-start mb-2">
							<div class="form-outline">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="d-flex justify-content-center">
							<div class="form-outline">
								<button class="btn user-back" type="button" onclick="window.location='/userHome'">Back</button>
							</div>
						</div>
					</div>
				</form>
            </div>

			<!---------------------- Rental Form --------------------------------->
            <div class="tab-content" id="tab2-content" style="display: none;">
                <form action="/rentalSearch" method="post" role="search">

					<button type="submit" name="btnclick" value="all" class="my-3" 
					style="color: #456990; background: none; border: none; padding: 0; font-size: inherit; cursor: pointer;">
						<h4>All Rentals</h4>
					</button>

					<div class="row d-flex justify-content-center">
						<div class="col-md-6 d-flex justify-content-center">
							<h4 class="mb-2 pb-md-0">Or</h4>
						</div>
					</div>

					<div class="row d-flex justify-content-center">
						<div class="col-md-2 mb-1">
							<div class="form-outline"></div>
						</div>
						<div class="col-md-6 mb-1">
							<div class="form-outline">
								<input class="form-control me-2" type="search" name="rname" id="rname" aria-label="Search"
									   placeholder="Enter Rental Name or Place">
							</div>
						</div>
						<div class="col-md-4 d-flex justify-content-start mb-2">
							<div class="form-outline">
								<button class="btn user-btns ms-2" type="submit" name="btnclick" value="srch">Search</button>
							</div>
						</div>
					</div>

					<div class="row d-flex justify-content-center">
						<text class="h4 m-0 align-items-center">Or</text>
					</div>
					<div class="row d-flex justify-content-center align-items-start mb-2">
						<span class="text-secondary small">Select at least one.</span>
					</div>

					<div class="row d-flex justify-content-center">
						<div class="col-md-2">
						</div>
						<div class="col-md-6 mb-4 pb-2">
						  <div class="form-outline">
							 <select class="form-control form-control-md" name="storey" id="storey">
								 <option value="any">Select Storey Type</option>
								 <option value="Single Storey Single Room">Single Storey Single Room</option>
								 <option value="Single Storey Multi Rooms">Single Storey Multi Rooms</option>
								 <option value="Multi Storey Single Rooms">Multi Storey Single Rooms</option>
								 <option value="Multi Storey Multi Rooms">Multi Storey Multi Rooms</option>
							 </select>
						  </div>
						</div>
						<div class="col-md-4">
						</div>
					</div>

					<div class="row d-flex justify-content-center">
						<div class="col-md-2">
						</div>
						<div class="col-md-6 mb-4 pb-2">
							<div class="form-outline">
								<select class="form-control form-control-md" name="rprice" id="rprice">
									<option value="0 AND 999999999">Select Rent range (in rupees)</option>
									<option value="0 AND 100000">~1 lakh</option>
									<option value="100000 AND 200000">1 lakh &emsp; - &emsp;2 lakhs</option>
									<option value="200000 AND 500000">2 lakhs &emsp; - &emsp;5 lakhs</option>
									<option value="500000 AND 700000">5 lakhs &emsp; - &emsp;7 lakhs</option>
									<option value="700000 AND 200000">7 lakhs &emsp; - &emsp;15 lakhs</option>
									<option value="1500000 AND 2500000">15 lakhs&emsp;- &emsp;25 lakhs</option>
									<option value="2500000 AND 3500000">25 lakhs&emsp;- &emsp;35 lakhs</option>
									<option value="3500000 AND 5000000">35 lakhs&emsp;- &emsp;50 lakhs</option>
									<option value="5000000 AND 7500000">50 lakhs&emsp;- &emsp;75 lakhs</option>
									<option value="7500000 AND 10000000">75 lakhs&emsp;- &emsp; 1 crore</option>
									<option value="10000000 AND 30000000">1 crore &emsp;- &emsp;3 crores</option>
									<option value="30000000 AND 70000000">3 crores &emsp;- &emsp;7 crores</option>
									<option value="70000000 AND 100000000">7 crores &emsp;- &emsp;10 crores</option>
									<option value="100000000 AND 150000000">10 crores&emsp;- &emsp;15 crores</option>
									<option value="150000000"> 15 crores</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 d-flex justify-content-start ">
							<div class="form-outline">
								<button class="btn user-btns" type="submit" name="btnclick" value="srch2">Find Rental</button>
							</div>
						</div>
					</div>

					<div class="row d-flex justify-content-center">
						<div class="col-md-2">
						</div>
						<div class="col-md-6 mb-3 pb-2">
							  <div class="form-outline">
								  <select class="form-control form-control-md" name="rarea" id="rarea">
									  <option value="0 AND 999999999">Select Area (in sqrft)</option>
									  <option value="0 AND 3000">< 3000</option>
									  <option value="3000 AND 5000">3000 - 5000</option>
									  <option value="5000 AND 10000">5000 - 10,000</option>
									  <option value="10000 AND 15000">10,000 - 15,000</option>
									  <option value="15000 AND 25000">15,000 - 25,000</option>
									  <option value="25000 AND 35000">25,000 - 35,000</option>
									  <option value="35000 AND 50000">35,000 - 50,000</option>
									  <option value="50000 AND 99999">> 50,000</option>
								  </select>
							  </div>
						</div>
						<div class="col-md-4">
						</div>
					</div>

					<div class="row">
						<div class="d-flex justify-content-center">
							<div class="form-outline">
								<button class="btn user-back" type="button" onclick="window.location='/userHome'">Back</button>
							</div>
						</div>
					</div>
				</form>
            </div>
      </div>
    </div>
</div>

<script>
	function openTab(event, tabName) {
		var i, tabContent, tabs;
	
		// Hide all tab content
		tabContent = document.getElementsByClassName("tab-content");
		for (i = 0; i < tabContent.length; i++) {
			tabContent[i].style.display = "none";
		}
	
		// Deactivate all tabs
		tabs = document.getElementsByClassName("tab");
		for (i = 0; i < tabs.length; i++) {
			tabs[i].className = tabs[i].className.replace(" active", "");
		}
	
		// Show the selected tab content
		document.getElementById(tabName + "-content").style.display = "block";
	
		// Activate the clicked tab
		event.currentTarget.className += " active";
	}
	
	// Initially open the first tab
	document.addEventListener("DOMContentLoaded", function() {
		document.getElementsByClassName("tab")[0].click();
	});

	// ------ Property form validation --------------------------------
	function validatePlotSearchForm(event) {
		var clickedButton = event.submitter;

		// Validate based on which button was clicked
		if (clickedButton.value === "srch") {
			var propertyName = document.getElementById("pname").value;
			if (propertyName.trim() === "") {
				alert("Please enter a Property Name or Place!");
				document.getElementById("pname").focus();
				return false;
			}
		} else if (clickedButton.value === "srch2") {
			var propertyType = document.getElementById("type").value;
			var priceRange = document.getElementById("price").value;
			var propertyArea = document.getElementById("parea").value;

			
			if (propertyType === "any" && priceRange === "0 AND 999999999" && propertyArea === "0 AND 999999999") {
				alert("Please select at least one search criteria: Property Type, Price Range, or Area.");
				document.getElementById("type").focus();
				return false;
			}
		}

		return true;
	}
</script>

{% endblock %}
